
@import url('https://fonts.googleapis.com/css2?family=Arimo:ital,wght@0,400..700;1,400..700&display=swap');

* {
    margin: 0;    
}

html {
    font-size: 10px;
}


body {
    background: linear-gradient(to left, #182748, #06256a);
}

button {
    cursor: pointer;
}

img {
    border: none;
}

.categoria {
    color: white;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.8rem;
    margin-top: 4%;
    white-space: nowrap;
    margin-right: 40%;
    display: flex;
    cursor: pointer;
}

.categoria p:hover {
    color: #cdcaca;
}

#imprensa, #doacao, #atuacao, #missoes {
    margin-right: 35%;
    
}

.carrosel1, .carrosel2, .carrosel3 {
    height: 560px;
}

@media screen and (max-width: 1300px) {
    .categoria {
        display: none;
    }

    .carrosel {
        margin-top: 4%;
    }

    .materia-imagem {
        width: 10%;
    }

    .imprensa {
        background-color: #081021;
        border-radius: 7px;
        margin-top: 5%;
        margin-left: 4%;
        margin-right: 4%;
        padding-top: 2%;
        padding-bottom: 3%;
        display: block;
    }

    .materia-imagem {
        width: 80%;
        height: 35%;
        margin-left: 10%;
        margin-top: 3%;
        border-radius: 7px;
    }

    .materia-texto {
        color: white;
        font-size: 2.1rem;
        padding: 2%;
        text-align: center;
    }

    .materia-botao {
        display: none;
    }

    .doacao-icones {
        width: 12%;
        margin: 10%;
    }
    

}

@media (min-width: 1301px) {
    .menu-hamburguer {
        display: none;
    }

    .header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        z-index: 1000;
    }

    .carrosel {
        margin-top: 5%;
    }

    .materia-imagem {
        width: 35%;
        height: 35%;
        margin-left: 3%;
        border-radius: 7px;
    }
    
    .materia-texto {
        color: white;
        font-size: 2.4rem;
        padding: 2%;
    }
    
    .materia-botao {
        margin-left: 67%;
        background-color: #182748;
        color: white;
        border: solid #333333;
        font-size: 2.8rem;
        border-radius: 5px;
        padding-left: 5%;
        padding-right: 5%;
        padding-bottom: 1%;
        padding-top: 1%;
        white-space: nowrap;
    }

    .imprensa {
        background-color: #081021;
        border-radius: 7px;
        margin-top: 5%;
        margin-left: 4%;
        margin-right: 4%;
        padding-top: 2%;
        padding-bottom: 2%;
        display: flex;
    }

    .doacao-icones {
        width: 7%;
        margin: 10%;
    }
    
    

}



.menu-hamburguer {
    background: none;
    border: none;
    padding: 0;
}

#menu {
    display: none;
}

#menu ul li a {
    text-decoration: none; 
    color: white;
}

#menu ul {
    list-style-type: none;
}

#menu ul li {
    margin-bottom: 10px;
}

#menu {
    background-color: #182748;
    font-size: 1.7rem;
}


header {
    background: linear-gradient(to left, #182748, #06256a);
}

.doacao-titulo {
    color: white;
    font-size: 3.2rem;
    margin-top: 5%;
}

.atuacao-titulo {
    color: white;
    font-size: 3.2rem;
    
}

.atuacao-img {
    border-radius: 5%;
    border: solid #081021 6px;
    transition: transform 0.3s ease;
    
}


.atuacao-img:hover {
    transform: scale(1.1); /* Aumenta o tamanho da imagem em 10% */
}

.d {
    padding: 3%;
}

